@model List<Product>

@{
    ViewData["Title"] = "Index";
}

<!-- PRODUCTS START -->

        <section id="products">
            <input id="productCount" type="hidden" value="@ViewBag.ProductCount"/>
            <div class="container">
                <div class="row" id="productList">
                    <partial name="_LoadMorePartial"/>
                    @*@await Component.InvokeAsync("Product",2)*@
                   
                </div>
                <div class="row justify-content-center">
                    <button class="btn btn-primary" id="loadMore">Load More</button>
                </div>
            </div>
        </section>


        <!-- PRODUCTS END -->

